body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.contenedor {
  display: flex;
}

.menu-lateral {
  width: 200px;
  background-color: #333;
  color: white;
  padding: 20px;
}

.menu-lateral ul {
  list-style: none;
  padding: 0;
}

.menu-lateral a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.menu-lateral a:hover {
  background-color: #555;
}

.conteudo-principal {
  flex-grow: 1;
  padding: 20px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}
