.main-div {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-div {
  text-align: left;
}

.right-div {
  text-align: left;
  margin-left: 20px;
}

.profile-info {
  margin-top: 20px;
}

.profile-info img {
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .main-div {
    flex-direction: column;
    align-items: stretch;
  }

  .right-div {
    margin-left: 0;
    margin-top: 20px;
  }
}
